{
  "openapi": "3.0.3",
  "info": {
    "title": "XRPL JSON-RPC API",
    "version": "2.0.0",
    "description": "OpenAPI specification for XRP Ledger JSON-RPC API v2. This schema covers HTTP-compatible methods only (WebSocket streaming methods are excluded).\n\n**Important Notes:**\n- This schema supports **API v2 only** (not v1 or v3)\n- All methods use the same JSON-RPC endpoint in practice\n- Separate paths are provided for better developer experience and client generation\n- For more information, visit https://xrpl.org/docs/references/http-websocket-apis/"
  },
  "servers": [
    {
      "url": "https://s1.ripple.com:51234",
      "description": "Mainnet"
    },
    {
      "url": "https://s.altnet.rippletest.net:51234",
      "description": "Testnet"
    },
    {
      "url": "https://s.devnet.rippletest.net:51234",
      "description": "Devnet"
    }
  ],
  "paths": {
    "/account_channels": {
      "post": {
        "summary": "Get a list of payment channels where the account is the source",
        "description": "Get a list of payment channels where the account is the source\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_channels.md",
        "operationId": "account_channels",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountChannelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_currencies": {
      "post": {
        "summary": "Get a list of currencies an account can send or receive",
        "description": "Get a list of currencies an account can send or receive\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_currencies.md",
        "operationId": "account_currencies",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCurrenciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCurrenciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_info": {
      "post": {
        "summary": "Get basic data about an account",
        "description": "Get basic data about an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_info.md",
        "operationId": "account_info",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_lines": {
      "post": {
        "summary": "Get info about an account's trust lines",
        "description": "Get info about an account's trust lines\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_lines.md",
        "operationId": "account_lines",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLinesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLinesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_nfts": {
      "post": {
        "summary": "Get a list of non-fungible tokens owned by an account",
        "description": "Get a list of non-fungible tokens owned by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_nfts.md",
        "operationId": "account_nfts",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountNFTsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNFTsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_objects": {
      "post": {
        "summary": "Get all ledger objects owned by an account",
        "description": "Get all ledger objects owned by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_objects.md",
        "operationId": "account_objects",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountObjectsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountObjectsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_offers": {
      "post": {
        "summary": "Get info about an account's currency exchange offers",
        "description": "Get info about an account's currency exchange offers\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_offers.md",
        "operationId": "account_offers",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_tx": {
      "post": {
        "summary": "Get info about an account's transactions",
        "description": "Get info about an account's transactions\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_tx.md",
        "operationId": "account_tx",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gateway_balances": {
      "post": {
        "summary": "Calculate total amounts issued by an account",
        "description": "Calculate total amounts issued by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/gateway_balances.md",
        "operationId": "gateway_balances",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatewayBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayBalancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/noripple_check": {
      "post": {
        "summary": "Get recommended changes to an account's Default Ripple and No Ripple settings",
        "description": "Get recommended changes to an account's Default Ripple and No Ripple settings\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/noripple_check.md",
        "operationId": "noripple_check",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoRippleCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoRippleCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger": {
      "post": {
        "summary": "Get info about a ledger version",
        "description": "Get info about a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger.md",
        "operationId": "ledger",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_closed": {
      "post": {
        "summary": "Get the latest closed ledger version",
        "description": "Get the latest closed ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_closed.md",
        "operationId": "ledger_closed",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerClosedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerClosedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_current": {
      "post": {
        "summary": "Get the current working ledger version",
        "description": "Get the current working ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_current.md",
        "operationId": "ledger_current",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerCurrentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerCurrentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_data": {
      "post": {
        "summary": "Get the raw contents of a ledger version",
        "description": "Get the raw contents of a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_data.md",
        "operationId": "ledger_data",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_entry": {
      "post": {
        "summary": "Get one element from a ledger version",
        "description": "Get one element from a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_entry.md",
        "operationId": "ledger_entry",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit": {
      "post": {
        "summary": "Send a transaction to the network",
        "description": "Send a transaction to the network\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/submit.md",
        "operationId": "submit",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit_multisigned": {
      "post": {
        "summary": "Send a multi-signed transaction to the network",
        "description": "Send a multi-signed transaction to the network\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/submit_multisigned.md",
        "operationId": "submit_multisigned",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitMultisignedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitMultisignedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction_entry": {
      "post": {
        "summary": "Retrieve info about a transaction from a particular ledger version",
        "description": "Retrieve info about a transaction from a particular ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/transaction_entry.md",
        "operationId": "transaction_entry",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tx": {
      "post": {
        "summary": "Retrieve info about a transaction from all the ledgers on hand",
        "description": "Retrieve info about a transaction from all the ledgers on hand\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/tx.md",
        "operationId": "tx",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/simulate": {
      "post": {
        "summary": "Simulate a transaction",
        "description": "Simulate a transaction\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/simulate.md",
        "operationId": "simulate",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amm_info": {
      "post": {
        "summary": "Get info about an Automated Market Maker (AMM)",
        "description": "Get info about an Automated Market Maker (AMM)\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/amm_info.md",
        "operationId": "amm_info",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AMMInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AMMInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book_offers": {
      "post": {
        "summary": "Get info about offers to exchange two currencies",
        "description": "Get info about offers to exchange two currencies\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/book_offers.md",
        "operationId": "book_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deposit_authorized": {
      "post": {
        "summary": "Look up whether one account is authorized to send payments directly to another",
        "description": "Look up whether one account is authorized to send payments directly to another\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/deposit_authorized.md",
        "operationId": "deposit_authorized",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositAuthorizedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAuthorizedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_buy_offers": {
      "post": {
        "summary": "Retrieve a list of buy offers for a specified NFToken object",
        "description": "Retrieve a list of buy offers for a specified NFToken object\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_buy_offers.md",
        "operationId": "nft_buy_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTBuyOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTBuyOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_sell_offers": {
      "post": {
        "summary": "Retrieve a list of sell offers for a specified NFToken object",
        "description": "Retrieve a list of sell offers for a specified NFToken object\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_sell_offers.md",
        "operationId": "nft_sell_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTSellOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTSellOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/path_find": {
      "post": {
        "summary": "Find a path for a payment between two accounts and receive updates",
        "description": "Find a path for a payment between two accounts and receive updates\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/path_find.md",
        "operationId": "path_find",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathFindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PathFindResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ripple_path_find": {
      "post": {
        "summary": "Find a path for payment between two accounts, once",
        "description": "Find a path for payment between two accounts, once\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/ripple_path_find.md",
        "operationId": "ripple_path_find",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RipplePathFindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RipplePathFindResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channel_verify": {
      "post": {
        "summary": "Check a payment channel claim's signature",
        "description": "Check a payment channel claim's signature\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/payment-channel-methods/channel_verify.md",
        "operationId": "channel_verify",
        "tags": [
          "Payment Channel Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fee": {
      "post": {
        "summary": "Get information about transaction cost",
        "description": "Get information about transaction cost\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/fee.md",
        "operationId": "fee",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feature": {
      "post": {
        "summary": "Returns information about amendments this server knows about",
        "description": "Returns information about amendments this server knows about\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/feature.md",
        "operationId": "feature",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_info": {
      "post": {
        "summary": "Retrieve status of the server in human-readable format",
        "description": "Retrieve status of the server in human-readable format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_info.md",
        "operationId": "server_info",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_state": {
      "post": {
        "summary": "Retrieve status of the server in machine-readable format",
        "description": "Retrieve status of the server in machine-readable format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_state.md",
        "operationId": "server_state",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerStateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_definitions": {
      "post": {
        "summary": "Retrieve a list of types and fields used for the XRPL's canonical binary format",
        "description": "Retrieve a list of types and fields used for the XRPL's canonical binary format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_definitions.md",
        "operationId": "server_definitions",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerDefinitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerDefinitionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manifest": {
      "post": {
        "summary": "Retrieve the latest ephemeral public key information about a known validator",
        "description": "Retrieve the latest ephemeral public key information about a known validator\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/manifest.md",
        "operationId": "manifest",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_info": {
      "post": {
        "summary": "Retrieve information about the specified NFT using Clio server",
        "description": "Retrieve information about the specified NFT using Clio server\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_info.md",
        "operationId": "nft_info",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_history": {
      "post": {
        "summary": "Retrieve the history of ownership and transfers for the specified NFT",
        "description": "Retrieve the history of ownership and transfers for the specified NFT\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_history.md",
        "operationId": "nft_history",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nfts_by_issuer": {
      "post": {
        "summary": "Returns a list of NFTokens that are issued by the specified account",
        "description": "Returns a list of NFTokens that are issued by the specified account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nfts_by_issuer.md",
        "operationId": "nfts_by_issuer",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTsByIssuerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTsByIssuerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "post": {
        "summary": "Confirm connectivity with the server",
        "description": "Confirm connectivity with the server\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/utility-methods/ping.md",
        "operationId": "ping",
        "tags": [
          "Utility Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/random": {
      "post": {
        "summary": "Generate a random number",
        "description": "Generate a random number\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/utility-methods/random.md",
        "operationId": "random",
        "tags": [
          "Utility Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RandomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RandomResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault_info": {
      "post": {
        "summary": "Get information about a specific vault",
        "description": "Get information about a specific vault\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/vault-methods/vault_info.md",
        "operationId": "vault_info",
        "tags": [
          "Vault Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultInfoResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LedgerIndex": {
        "anyOf": [
          {
            "type": "number"
          },
          {
            "enum": [
              "validated"
            ]
          },
          {
            "enum": [
              "closed"
            ]
          },
          {
            "enum": [
              "current"
            ]
          }
        ]
      },
      "AccountChannelsRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. The\nrequest returns channels where this account is the channel's owner/source."
          },
          "destination_account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. If\nprovided, filter results to payment channels whose destination is this\naccount."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of transactions to retrieve. Cannot be less than 10 or\nmore than 400. The default is 200."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_channels method returns information about an account's Payment Channels. This includes only channels where the specified account is the channel's source, not the destination. (A channel's \"source\" and \"owner\" are the same.) All information retrieved is relative to a particular version of the ledger. Returns an  {@link  AccountChannelsResponse } ."
      },
      "Channel": {
        "type": "object",
        "properties": {},
        "required": [
          "account",
          "amount",
          "balance",
          "channel_id",
          "destination_account",
          "settle_delay"
        ],
        "additionalProperties": false,
        "description": "Represents a payment channel in the XRP Ledger."
      },
      "ResponseWarning": {
        "type": "object",
        "properties": {},
        "required": [
          "id",
          "message"
        ],
        "additionalProperties": false
      },
      "AccountChannelsResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "The expected response from an  {@link  AccountChannelsRequest } ."
      },
      "AccountCurrenciesRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "strict": {
            "type": "boolean",
            "description": "If true, then the account field only accepts a public key or XRP Ledger\naddress. Otherwise, account can be a secret or passphrase (not\nrecommended). The default is false."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_currencies` command retrieves a list of currencies that an account can send or receive, based on its trust lines. Expects an  {@link  AccountCurrenciesResponse } ."
      },
      "AccountCurrenciesResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "The expected response from an  {@link  AccountCurrenciesRequest } ."
      },
      "AccountInfoRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "queue": {
            "type": "boolean",
            "description": "Whether to get info about this account's queued transactions. Can only be\nused when querying for the data from the current open ledger. Not available\nfrom servers in Reporting Mode."
          },
          "signer_lists": {
            "type": "boolean",
            "description": "Request SignerList objects associated with this account."
          },
          "strict": {
            "type": "boolean",
            "description": "If true, then the account field only accepts a public key or XRP Ledger\naddress. Otherwise, account can be a secret or passphrase (not\nrecommended). The default is false."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_info` command retrieves information about an account, its activity, and its XRP balance. All information retrieved is relative to a particular version of the ledger. Returns an  {@link  AccountInfoResponse } ."
      },
      "SignerList": {
        "type": "object",
        "properties": {},
        "required": [
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "SignerEntries",
          "SignerListID",
          "SignerQuorum",
          "index"
        ],
        "additionalProperties": false,
        "description": "The SignerList object type represents a list of parties that, as a group, are authorized to sign a transaction in place of an individual account. You can create, replace, or remove a signer list using a SignerListSet transaction."
      },
      "SignerEntry": {
        "type": "object",
        "properties": {},
        "required": [
          "SignerEntry"
        ],
        "additionalProperties": false,
        "description": "The object that describes the signer in SignerEntries."
      },
      "AccountRoot": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Balance",
          "Flags",
          "LedgerEntryType",
          "OwnerCount",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "index"
        ],
        "additionalProperties": false,
        "description": "The AccountRoot object type describes a single account, its settings, and XRP balance."
      },
      "AccountInfoAccountFlags": {
        "type": "object",
        "properties": {},
        "required": [
          "defaultRipple",
          "depositAuth",
          "disableMasterKey",
          "disallowIncomingXRP",
          "globalFreeze",
          "noFreeze",
          "passwordSpent",
          "requireAuthorization",
          "requireDestinationTag",
          "allowTrustLineClawback"
        ],
        "additionalProperties": false
      },
      "AccountQueueData": {
        "type": "object",
        "properties": {},
        "required": [
          "txn_count"
        ],
        "additionalProperties": false
      },
      "AccountQueueTransaction": {
        "type": "object",
        "properties": {},
        "required": [
          "auth_change",
          "fee",
          "fee_level",
          "max_spend_drops",
          "seq"
        ],
        "additionalProperties": false
      },
      "AccountInfoResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from a  {@link  AccountInfoRequest } ."
      },
      "AccountLinesRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's Address."
          },
          "peer": {
            "type": "string",
            "description": "The Address of a second account. If provided, show only lines of trust\nconnecting the two accounts."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of trust lines to retrieve. The server is not required to\nhonor this value. Must be within the inclusive range 10 to 400."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_lines method returns information about an account's trust lines,  including balances in all non-XRP currencies and assets. All information retrieved is relative to a particular version of the ledger. Expects an  {@link  AccountLinesResponse } ."
      },
      "AccountLinesTrustline": {
        "type": "object",
        "properties": {},
        "required": [
          "account",
          "balance",
          "currency",
          "limit",
          "limit_peer",
          "quality_in",
          "quality_out"
        ],
        "additionalProperties": false
      },
      "AccountLinesResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountLinesRequest } ."
      },
      "AccountNFTsRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. The\nrequest returns NFTs owned by this account."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of NFTokens to retrieve."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_nfts` method retrieves all of the NFTs currently owned by the specified account."
      },
      "AccountNFToken": {
        "type": "object",
        "properties": {},
        "required": [
          "Flags",
          "Issuer",
          "NFTokenID",
          "NFTokenTaxon",
          "nft_serial"
        ],
        "additionalProperties": false,
        "description": "One NFToken that might be returned from an  {@link  AccountNFTsRequest } ."
      },
      "AccountNFTsResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountNFTsRequest } ."
      },
      "AccountObjectType": {
        "type": "string",
        "enum": [
          "account",
          "amm",
          "bridge",
          "check",
          "credential",
          "delegate",
          "deposit_preauth",
          "did",
          "directory",
          "escrow",
          "loan",
          "loan_broker",
          "mpt_issuance",
          "mptoken",
          "nft_offer",
          "nft_page",
          "offer",
          "oracle",
          "payment_channel",
          "permissioned_domain",
          "signer_list",
          "state",
          "ticket",
          "vault",
          "xchain_owned_create_account_claim_id",
          "xchain_owned_claim_id"
        ]
      },
      "AccountObjectsRequest": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/AccountObjectType",
            "description": "If included, filter results to include only this type of ledger object."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "deletion_blockers_only": {
            "type": "boolean",
            "description": "If true, the response only includes objects that would block this account\nfrom being deleted. The default is false."
          },
          "limit": {
            "type": "number",
            "description": "The maximum number of objects to include in the results. Must be within\nthe inclusive range 10 to 400 on non-admin connections. The default is 200."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_objects command returns the raw ledger format for all objects owned by an account. For a higher-level view of an account's trust lines and balances, see the account_lines method instead. Expects a response in the form of an  {@link  AccountObjectsResponse } ."
      },
      "AccountObject": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AccountRoot"
          },
          {
            "$ref": "#/components/schemas/AMM"
          },
          {
            "$ref": "#/components/schemas/Bridge"
          },
          {
            "$ref": "#/components/schemas/Check"
          },
          {
            "$ref": "#/components/schemas/Credential"
          },
          {
            "$ref": "#/components/schemas/Delegate"
          },
          {
            "$ref": "#/components/schemas/DepositPreauth"
          },
          {
            "$ref": "#/components/schemas/DirectoryNode"
          },
          {
            "$ref": "#/components/schemas/Escrow"
          },
          {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {},
                "required": [
                  "BaseFee",
                  "Flags",
                  "LedgerEntryType",
                  "ReferenceFeeUnits",
                  "ReserveBase",
                  "ReserveIncrement",
                  "index"
                ]
              },
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {},
                "required": [
                  "BaseFeeDrops",
                  "Flags",
                  "LedgerEntryType",
                  "ReserveBaseDrops",
                  "ReserveIncrementDrops",
                  "index"
                ]
              }
            ],
            "description": "The FeeSettings object type contains the current base transaction cost and reserve amounts as determined by fee voting.\n\nThe fields will be based on the status of the `XRPFees` amendment.\n- Before:  {@link  FeeSettingsPreAmendmentFields } \n- After:  {@link  FeeSettingsPostAmendmentFields }"
          },
          {
            "$ref": "#/components/schemas/Loan"
          },
          {
            "$ref": "#/components/schemas/LoanBroker"
          },
          {
            "$ref": "#/components/schemas/NegativeUNL"
          },
          {
            "$ref": "#/components/schemas/Offer"
          },
          {
            "$ref": "#/components/schemas/Oracle"
          },
          {
            "$ref": "#/components/schemas/PayChannel"
          },
          {
            "$ref": "#/components/schemas/PermissionedDomain"
          },
          {
            "$ref": "#/components/schemas/RippleState"
          },
          {
            "$ref": "#/components/schemas/SignerList"
          },
          {
            "$ref": "#/components/schemas/Ticket"
          },
          {
            "$ref": "#/components/schemas/Vault"
          },
          {
            "$ref": "#/components/schemas/XChainOwnedClaimID"
          },
          {
            "$ref": "#/components/schemas/XChainOwnedCreateAccountClaimID"
          }
        ],
        "description": "Account Objects can be a Check, a DepositPreauth, an Escrow, an Offer, a PayChannel, a SignerList, a Ticket, or a RippleState."
      },
      "AMM": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Asset",
          "Asset2",
          "Flags",
          "LPTokenBalance",
          "LedgerEntryType",
          "TradingFee",
          "index"
        ],
        "additionalProperties": false,
        "description": "The AMM object type describes a single Automated Market Maker (AMM) instance."
      },
      "Currency": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/IssuedCurrency"
          },
          {
            "$ref": "#/components/schemas/MPTCurrency"
          },
          {
            "$ref": "#/components/schemas/XRP"
          }
        ]
      },
      "IssuedCurrency": {
        "type": "object",
        "properties": {},
        "required": [
          "currency",
          "issuer"
        ],
        "additionalProperties": false
      },
      "MPTCurrency": {
        "type": "object",
        "properties": {},
        "required": [
          "mpt_issuance_id"
        ],
        "additionalProperties": false
      },
      "XRP": {
        "type": "object",
        "properties": {},
        "required": [
          "currency"
        ],
        "additionalProperties": false
      },
      "AuthAccount": {
        "type": "object",
        "properties": {},
        "required": [
          "AuthAccount"
        ],
        "additionalProperties": false
      },
      "IssuedCurrencyAmount": {
        "type": "object",
        "properties": {},
        "required": [
          "currency",
          "issuer",
          "value"
        ],
        "additionalProperties": false
      },
      "VoteSlot": {
        "type": "object",
        "properties": {},
        "required": [
          "VoteEntry"
        ],
        "additionalProperties": false
      },
      "Bridge": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "SignatureReward",
          "XChainAccountClaimCount",
          "XChainAccountCreateCount",
          "XChainBridge",
          "XChainClaimID",
          "index"
        ],
        "additionalProperties": false,
        "description": "A Bridge objects represents a cross-chain bridge and includes information about the door accounts, assets, signature rewards, and the minimum account create amount."
      },
      "Amount": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/IssuedCurrencyAmount"
          },
          {
            "type": "string"
          }
        ]
      },
      "XChainBridge": {
        "type": "object",
        "properties": {},
        "required": [
          "LockingChainDoor",
          "LockingChainIssue",
          "IssuingChainDoor",
          "IssuingChainIssue"
        ],
        "additionalProperties": false
      },
      "Check": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Destination",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "SendMax",
          "Sequence",
          "index"
        ],
        "additionalProperties": false,
        "description": "A Check object describes a check, similar to a paper personal check, which can be cashed by its destination to get money from its sender."
      },
      "Credential": {
        "type": "object",
        "properties": {},
        "required": [
          "CredentialType",
          "Flags",
          "Issuer",
          "IssuerNode",
          "LedgerEntryType",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Subject",
          "SubjectNode",
          "index"
        ],
        "additionalProperties": false,
        "description": "A Credential object describes a credential, similar to a passport, which is an issuable identity verifier that can be used as a prerequisite for other transactions"
      },
      "CredentialFlags": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "Delegate": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Authorize",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "Permissions",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "index"
        ],
        "additionalProperties": false,
        "description": "This object represents a set of permissions that an account has delegated to another account."
      },
      "Permission": {
        "type": "object",
        "properties": {},
        "required": [
          "Permission"
        ],
        "additionalProperties": false
      },
      "DepositPreauth": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "index"
        ],
        "additionalProperties": false,
        "description": "A DepositPreauth object tracks a preauthorization from one account to another. DepositPreauth transactions create these objects."
      },
      "AuthorizeCredential": {
        "type": "object",
        "properties": {},
        "required": [
          "Credential"
        ],
        "additionalProperties": false
      },
      "DirectoryNode": {
        "type": "object",
        "properties": {},
        "required": [
          "Flags",
          "Indexes",
          "LedgerEntryType",
          "RootIndex",
          "index"
        ],
        "additionalProperties": false,
        "description": "The DirectoryNode object type provides a list of links to other objects in the ledger's state tree."
      },
      "Escrow": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Amount",
          "Destination",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "index"
        ],
        "additionalProperties": false,
        "description": "The Escrow object type represents a held payment of XRP waiting to be executed or canceled."
      },
      "Loan": {
        "type": "object",
        "properties": {},
        "required": [
          "Borrower",
          "Flags",
          "GracePeriod",
          "LedgerEntryType",
          "LoanBrokerID",
          "LoanBrokerNode",
          "LoanSequence",
          "NextPaymentDueDate",
          "OwnerNode",
          "PaymentInterval",
          "PaymentRemaining",
          "PeriodicPayment",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "PrincipalOutstanding",
          "StartDate",
          "TotalValueOutstanding",
          "index"
        ],
        "additionalProperties": false,
        "description": "A Loan ledger entry captures various Loan terms on-chain. It is an agreement between the Borrower and the loan issuer."
      },
      "Account": {
        "type": "string",
        "description": "Must be a valid account address"
      },
      "XRPLNumber": {
        "type": "string",
        "description": "XRPL Number type represented as a string.\n\nThis string can be an integer (e.g., \"123\"), a decimal (e.g., \"123.45\"), or in scientific notation (e.g., \"1.23e5\", \"-4.56e-7\"). Used for fields that accept arbitrary-precision numbers in XRPL transactions and ledger objects."
      },
      "LoanBroker": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "DebtMaximum",
          "Flags",
          "LedgerEntryType",
          "LoanSequence",
          "Owner",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "VaultID",
          "VaultNode",
          "index"
        ],
        "additionalProperties": false,
        "description": "The LoanBroker object captures attributes of the Lending Protocol."
      },
      "NegativeUNL": {
        "type": "object",
        "properties": {},
        "required": [
          "LedgerEntryType",
          "index"
        ],
        "additionalProperties": false,
        "description": "The NegativeUNL object type contains the current status of the Negative UNL, a list of trusted validators currently believed to be offline."
      },
      "Offer": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "BookDirectory",
          "BookNode",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "TakerGets",
          "TakerPays",
          "index"
        ],
        "additionalProperties": false
      },
      "Book": {
        "type": "object",
        "properties": {},
        "required": [
          "Book"
        ],
        "additionalProperties": false
      },
      "Oracle": {
        "type": "object",
        "properties": {},
        "required": [
          "AssetClass",
          "Flags",
          "LastUpdateTime",
          "LedgerEntryType",
          "Owner",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "PriceDataSeries",
          "Provider",
          "index"
        ],
        "additionalProperties": false,
        "description": "The Oracle object type describes a single Price Oracle instance."
      },
      "PriceData": {
        "type": "object",
        "properties": {},
        "required": [
          "PriceData"
        ],
        "additionalProperties": false,
        "description": "A PriceData object represents the price information for a token pair."
      },
      "PayChannel": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Amount",
          "Balance",
          "Destination",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "PublicKey",
          "SettleDelay",
          "index"
        ],
        "additionalProperties": false,
        "description": "The PayChannel object type represents a payment channel. Payment channels enable small, rapid off-ledger payments of XRP that can be later reconciled with the consensus ledger. A payment channel holds a balance of XRP that can only be paid out to a specific destination address until the channel is closed."
      },
      "PermissionedDomain": {
        "type": "object",
        "properties": {},
        "required": [
          "AcceptedCredentials",
          "Flags",
          "LedgerEntryType",
          "Owner",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "index"
        ],
        "additionalProperties": false
      },
      "RippleState": {
        "type": "object",
        "properties": {},
        "required": [
          "Balance",
          "Flags",
          "HighLimit",
          "LedgerEntryType",
          "LowLimit",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "index"
        ],
        "additionalProperties": false,
        "description": "The RippleState object type connects two accounts in a single currency."
      },
      "Ticket": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "TicketSequence",
          "index"
        ],
        "additionalProperties": false,
        "description": "The Ticket object type represents a Ticket, which tracks an account sequence number that has been set aside for future use. You can create new tickets with a TicketCreate transaction."
      },
      "Vault": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Asset",
          "Flags",
          "LedgerEntryType",
          "LedgerIndex",
          "Owner",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "ShareMPTID",
          "WithdrawalPolicy",
          "index"
        ],
        "additionalProperties": false,
        "description": "The Vault object type represents a Single Asset Vault instance."
      },
      "XChainOwnedClaimID": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Flags",
          "LedgerEntryType",
          "OtherChainSource",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "SignatureReward",
          "XChainBridge",
          "XChainClaimAttestations",
          "XChainClaimID",
          "index"
        ],
        "additionalProperties": false,
        "description": "An XChainOwnedClaimID object represents one cross-chain transfer of value and includes information of the account on the source chain that locks or burns the funds on the source chain."
      },
      "XChainOwnedCreateAccountClaimID": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "XChainAccountCreateCount",
          "XChainBridge",
          "XChainCreateAccountAttestations",
          "index"
        ],
        "additionalProperties": false,
        "description": "The XChainOwnedCreateAccountClaimID ledger object is used to collect attestations for creating an account via a cross-chain transfer."
      },
      "AccountObjectsResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountObjectsRequest } ."
      },
      "AccountOffersRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's Address."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of transactions to retrieve. The server is not required\nto honor this value. Must be within the inclusive range 10 to 400."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off."
          },
          "strict": {
            "type": "boolean",
            "description": "If true, then the account field only accepts a public key or XRP Ledger\naddress. Otherwise, account can be a secret or passphrase (not\nrecommended). The default is false."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_offers method retrieves a list of offers made by a given account that are outstanding as of a particular ledger version. Expects a response in the form of a  {@link  AccountOffersResponse } ."
      },
      "AccountOffer": {
        "type": "object",
        "properties": {},
        "required": [
          "flags",
          "seq",
          "taker_gets",
          "taker_pays",
          "quality"
        ],
        "additionalProperties": false
      },
      "AccountOffersResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountOffersRequest } ."
      },
      "AccountTxRequest": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "type": "string",
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "The ledger index of the ledger to use, or a shortcut string (e.g. 'validated', 'closed', 'current')."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "ledger_index_min": {
            "type": "number",
            "description": "Use to specify the earliest ledger to include transactions from. A value\nof -1 instructs the server to use the earliest validated ledger version\navailable."
          },
          "ledger_index_max": {
            "type": "number",
            "description": "Use to specify the most recent ledger to include transactions from. A\nvalue of -1 instructs the server to use the most recent validated ledger\nversion available."
          },
          "binary": {
            "type": "boolean",
            "description": "If true, return transactions as hex strings instead of JSON. The default is\nfalse."
          },
          "forward": {
            "type": "boolean",
            "description": "If true, returns values indexed with the oldest ledger first. Otherwise,\nthe results are indexed with the newest ledger first."
          },
          "limit": {
            "type": "number",
            "description": "Default varies. Limit the number of transactions to retrieve. The server\nis not required to honor this value."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where\nthat response left off. This value is stable even if there is a change in\nthe server's range of available ledgers."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_tx method retrieves a list of transactions that involved the specified account. Expects a response in the form of a  {@link  * AccountTxResponse } ."
      },
      "AccountTxTransaction<2>": {
        "type": "object",
        "properties": {},
        "required": [
          "ledger_index",
          "meta",
          "validated"
        ],
        "additionalProperties": false
      },
      "TransactionMetadata": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/PaymentMetadata"
          },
          {
            "$ref": "#/components/schemas/NFTokenMintMetadata"
          },
          {
            "$ref": "#/components/schemas/NFTokenCreateOfferMetadata"
          },
          {
            "$ref": "#/components/schemas/NFTokenAcceptOfferMetadata"
          },
          {
            "$ref": "#/components/schemas/NFTokenCancelOfferMetadata"
          },
          {
            "$ref": "#/components/schemas/MPTokenIssuanceCreateMetadata"
          },
          {
            "$ref": "#/components/schemas/TransactionMetadataBase"
          }
        ],
        "description": "Union type of all transaction metadata types for schema generation compatibility."
      },
      "PaymentMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "Node": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/CreatedNode"
          },
          {
            "$ref": "#/components/schemas/ModifiedNode"
          },
          {
            "$ref": "#/components/schemas/DeletedNode"
          }
        ]
      },
      "CreatedNode": {
        "type": "object",
        "properties": {},
        "required": [
          "CreatedNode"
        ],
        "additionalProperties": false
      },
      "ModifiedNode": {
        "type": "object",
        "properties": {},
        "required": [
          "ModifiedNode"
        ],
        "additionalProperties": false
      },
      "DeletedNode": {
        "type": "object",
        "properties": {},
        "required": [
          "DeletedNode"
        ],
        "additionalProperties": false
      },
      "MPTAmount": {
        "type": "object",
        "properties": {},
        "required": [
          "mpt_issuance_id",
          "value"
        ],
        "additionalProperties": false
      },
      "NFTokenMintMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "NFTokenCreateOfferMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "NFTokenAcceptOfferMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "NFTokenCancelOfferMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "MPTokenIssuanceCreateMetadata": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ]
      },
      "TransactionMetadataBase": {
        "type": "object",
        "properties": {},
        "required": [
          "AffectedNodes",
          "TransactionIndex",
          "TransactionResult"
        ],
        "additionalProperties": false
      },
      "GlobalFlagsInterface": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "Memo": {
        "type": "object",
        "properties": {},
        "required": [
          "Memo"
        ],
        "additionalProperties": false
      },
      "Signer": {
        "type": "object",
        "properties": {},
        "required": [
          "Signer"
        ],
        "additionalProperties": false
      },
      "AccountSetFlagsInterface": {
        "type": "object",
        "properties": {},
        "additionalProperties": false,
        "description": "Map of flags to boolean values representing  {@link  AccountSet }  transaction flags."
      },
      "AccountSetAsfFlags": {
        "type": "number",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          12,
          13,
          14,
          15,
          16,
          17
        ],
        "description": "Enum for AccountSet Flags."
      },
      "BatchSigner": {
        "type": "object",
        "properties": {},
        "required": [
          "BatchSigner"
        ],
        "additionalProperties": false
      },
      "SubmittableTransaction": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AMMBid"
          },
          {
            "$ref": "#/components/schemas/AMMClawback"
          },
          {
            "$ref": "#/components/schemas/AMMCreate"
          },
          {
            "$ref": "#/components/schemas/AMMDelete"
          },
          {
            "$ref": "#/components/schemas/AMMDeposit"
          },
          {
            "$ref": "#/components/schemas/AMMVote"
          },
          {
            "$ref": "#/components/schemas/AMMWithdraw"
          },
          {
            "$ref": "#/components/schemas/AccountDelete"
          },
          {
            "$ref": "#/components/schemas/AccountSet"
          },
          {
            "$ref": "#/components/schemas/Batch"
          },
          {
            "$ref": "#/components/schemas/CheckCancel"
          },
          {
            "$ref": "#/components/schemas/CheckCash"
          },
          {
            "$ref": "#/components/schemas/CheckCreate"
          },
          {
            "$ref": "#/components/schemas/Clawback"
          },
          {
            "$ref": "#/components/schemas/CredentialAccept"
          },
          {
            "$ref": "#/components/schemas/CredentialCreate"
          },
          {
            "$ref": "#/components/schemas/CredentialDelete"
          },
          {
            "$ref": "#/components/schemas/DIDDelete"
          },
          {
            "$ref": "#/components/schemas/DIDSet"
          },
          {
            "$ref": "#/components/schemas/DelegateSet"
          },
          {
            "$ref": "#/components/schemas/DepositPreauth"
          },
          {
            "$ref": "#/components/schemas/EscrowCancel"
          },
          {
            "$ref": "#/components/schemas/EscrowCreate"
          },
          {
            "$ref": "#/components/schemas/EscrowFinish"
          },
          {
            "$ref": "#/components/schemas/LoanBrokerSet"
          },
          {
            "$ref": "#/components/schemas/LoanBrokerCoverClawback"
          },
          {
            "$ref": "#/components/schemas/LoanBrokerCoverDeposit"
          },
          {
            "$ref": "#/components/schemas/LoanBrokerCoverWithdraw"
          },
          {
            "$ref": "#/components/schemas/LoanBrokerDelete"
          },
          {
            "$ref": "#/components/schemas/LoanSet"
          },
          {
            "$ref": "#/components/schemas/LoanDelete"
          },
          {
            "$ref": "#/components/schemas/LoanManage"
          },
          {
            "$ref": "#/components/schemas/LoanPay"
          },
          {
            "$ref": "#/components/schemas/MPTokenAuthorize"
          },
          {
            "$ref": "#/components/schemas/MPTokenIssuanceCreate"
          },
          {
            "$ref": "#/components/schemas/MPTokenIssuanceDestroy"
          },
          {
            "$ref": "#/components/schemas/MPTokenIssuanceSet"
          },
          {
            "$ref": "#/components/schemas/NFTokenAcceptOffer"
          },
          {
            "$ref": "#/components/schemas/NFTokenBurn"
          },
          {
            "$ref": "#/components/schemas/NFTokenCancelOffer"
          },
          {
            "$ref": "#/components/schemas/NFTokenCreateOffer"
          },
          {
            "$ref": "#/components/schemas/NFTokenMint"
          },
          {
            "$ref": "#/components/schemas/NFTokenModify"
          },
          {
            "$ref": "#/components/schemas/OfferCancel"
          },
          {
            "$ref": "#/components/schemas/OfferCreate"
          },
          {
            "$ref": "#/components/schemas/OracleDelete"
          },
          {
            "$ref": "#/components/schemas/OracleSet"
          },
          {
            "$ref": "#/components/schemas/Payment"
          },
          {
            "$ref": "#/components/schemas/PaymentChannelClaim"
          },
          {
            "$ref": "#/components/schemas/PaymentChannelCreate"
          },
          {
            "$ref": "#/components/schemas/PaymentChannelFund"
          },
          {
            "$ref": "#/components/schemas/PermissionedDomainSet"
          },
          {
            "$ref": "#/components/schemas/PermissionedDomainDelete"
          },
          {
            "$ref": "#/components/schemas/SetRegularKey"
          },
          {
            "$ref": "#/components/schemas/SignerListSet"
          },
          {
            "$ref": "#/components/schemas/TicketCreate"
          },
          {
            "$ref": "#/components/schemas/TrustSet"
          },
          {
            "$ref": "#/components/schemas/VaultClawback"
          },
          {
            "$ref": "#/components/schemas/VaultCreate"
          },
          {
            "$ref": "#/components/schemas/VaultDelete"
          },
          {
            "$ref": "#/components/schemas/VaultDeposit"
          },
          {
            "$ref": "#/components/schemas/VaultSet"
          },
          {
            "$ref": "#/components/schemas/VaultWithdraw"
          },
          {
            "$ref": "#/components/schemas/XChainAccountCreateCommit"
          },
          {
            "$ref": "#/components/schemas/XChainAddAccountCreateAttestation"
          },
          {
            "$ref": "#/components/schemas/XChainAddClaimAttestation"
          },
          {
            "$ref": "#/components/schemas/XChainClaim"
          },
          {
            "$ref": "#/components/schemas/XChainCommit"
          },
          {
            "$ref": "#/components/schemas/XChainCreateBridge"
          },
          {
            "$ref": "#/components/schemas/XChainCreateClaimID"
          },
          {
            "$ref": "#/components/schemas/XChainModifyBridge"
          }
        ],
        "description": "Transactions that can be submitted by clients"
      },
      "AMMBid": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Asset",
          "Asset2",
          "TransactionType"
        ],
        "description": "Bid on an Automated Market Maker's (AMM's) auction slot.\n\nIf you win, you can trade against the AMM at a discounted fee until you are outbid or 24 hours have passed. If you are outbid before 24 hours have passed, you are refunded part of the cost of your bid based on how much time remains. You bid using the AMM's LP Tokens; the amount of a winning bid is returned to the AMM, decreasing the outstanding balance of LP Tokens."
      },
      "AMMClawback": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Asset",
          "Asset2",
          "Holder",
          "TransactionType"
        ],
        "description": "Claw back tokens from a holder that has deposited your issued tokens into an AMM pool.\n\nClawback is disabled by default. To use clawback, you must send an AccountSet transaction to enable the Allow Trust Line Clawback setting. An issuer with any existing tokens cannot enable clawback. You can only enable Allow Trust Line Clawback if you have a completely empty owner directory, meaning you must do so before you set up any trust lines, offers, escrows, payment channels, checks, or signer lists. After you enable clawback, it cannot reverted: the account permanently gains the ability to claw back issued assets on trust lines."
      },
      "AMMCreate": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Amount",
          "Amount2",
          "TradingFee",
          "TransactionType"
        ],
        "description": "Create a new Automated Market Maker (AMM) instance for trading a pair of assets (fungible tokens or XRP).\n\nCreates both an AMM object and a special AccountRoot object to represent the AMM. Also transfers ownership of the starting balance of both assets from the sender to the created AccountRoot and issues an initial balance of liquidity provider tokens (LP Tokens) from the AMM account to the sender.\n\nCAUTION: When you create the AMM, you should fund it with (approximately) equal-value amounts of each asset. Otherwise, other users can profit at your expense by trading with this AMM (performing arbitrage). The currency risk that liquidity providers take on increases with the volatility (potential for imbalance) of the asset pair. The higher the trading fee, the more it offsets this risk, so it's best to set the trading fee based on the volatility of the asset pair."
      },
      "AMMDelete": {
        "type": "object",
        "properties": {},
        "required": [
          "Account",
          "Asset",
          "Asset2",
          "TransactionType"
        ],
[...]
