{
  "openapi": "3.0.3",
  "info": {
    "title": "XRPL JSON-RPC API",
    "version": "2.0.0",
    "description": "OpenAPI specification for XRP Ledger JSON-RPC API v2. This schema covers HTTP-compatible methods only (WebSocket streaming methods are excluded).\n\n**Important Notes:**\n- This schema supports **API v2 only** (not v1 or v3)\n- All methods use the same JSON-RPC endpoint in practice\n- Separate paths are provided for better developer experience and client generation\n- For more information, visit https://xrpl.org/docs/references/http-websocket-apis/"
  },
  "servers": [
    {
      "url": "https://s1.ripple.com:51234",
      "description": "Mainnet"
    },
    {
      "url": "https://s.altnet.rippletest.net:51234",
      "description": "Testnet"
    },
    {
      "url": "https://s.devnet.rippletest.net:51234",
      "description": "Devnet"
    }
  ],
  "paths": {
    "/account_channels": {
      "post": {
        "summary": "Get a list of payment channels where the account is the source",
        "description": "Get a list of payment channels where the account is the source\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_channels.md",
        "operationId": "account_channels",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountChannelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_currencies": {
      "post": {
        "summary": "Get a list of currencies an account can send or receive",
        "description": "Get a list of currencies an account can send or receive\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_currencies.md",
        "operationId": "account_currencies",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCurrenciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCurrenciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_info": {
      "post": {
        "summary": "Get basic data about an account",
        "description": "Get basic data about an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_info.md",
        "operationId": "account_info",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_lines": {
      "post": {
        "summary": "Get info about an account's trust lines",
        "description": "Get info about an account's trust lines\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_lines.md",
        "operationId": "account_lines",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountLinesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLinesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_nfts": {
      "post": {
        "summary": "Get a list of non-fungible tokens owned by an account",
        "description": "Get a list of non-fungible tokens owned by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_nfts.md",
        "operationId": "account_nfts",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountNFTsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNFTsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_objects": {
      "post": {
        "summary": "Get all ledger objects owned by an account",
        "description": "Get all ledger objects owned by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_objects.md",
        "operationId": "account_objects",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountObjectsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountObjectsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_offers": {
      "post": {
        "summary": "Get info about an account's currency exchange offers",
        "description": "Get info about an account's currency exchange offers\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_offers.md",
        "operationId": "account_offers",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_tx": {
      "post": {
        "summary": "Get info about an account's transactions",
        "description": "Get info about an account's transactions\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/account_tx.md",
        "operationId": "account_tx",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/gateway_balances": {
      "post": {
        "summary": "Calculate total amounts issued by an account",
        "description": "Calculate total amounts issued by an account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/gateway_balances.md",
        "operationId": "gateway_balances",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatewayBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayBalancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/noripple_check": {
      "post": {
        "summary": "Get recommended changes to an account's Default Ripple and No Ripple settings",
        "description": "Get recommended changes to an account's Default Ripple and No Ripple settings\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/account-methods/noripple_check.md",
        "operationId": "noripple_check",
        "tags": [
          "Account Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoRippleCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoRippleCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger": {
      "post": {
        "summary": "Get info about a ledger version",
        "description": "Get info about a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger.md",
        "operationId": "ledger",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_closed": {
      "post": {
        "summary": "Get the latest closed ledger version",
        "description": "Get the latest closed ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_closed.md",
        "operationId": "ledger_closed",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerClosedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerClosedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_current": {
      "post": {
        "summary": "Get the current working ledger version",
        "description": "Get the current working ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_current.md",
        "operationId": "ledger_current",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerCurrentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerCurrentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_data": {
      "post": {
        "summary": "Get the raw contents of a ledger version",
        "description": "Get the raw contents of a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_data.md",
        "operationId": "ledger_data",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ledger_entry": {
      "post": {
        "summary": "Get one element from a ledger version",
        "description": "Get one element from a ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/ledger-methods/ledger_entry.md",
        "operationId": "ledger_entry",
        "tags": [
          "Ledger Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit": {
      "post": {
        "summary": "Send a transaction to the network",
        "description": "Send a transaction to the network\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/submit.md",
        "operationId": "submit",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submit_multisigned": {
      "post": {
        "summary": "Send a multi-signed transaction to the network",
        "description": "Send a multi-signed transaction to the network\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/submit_multisigned.md",
        "operationId": "submit_multisigned",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitMultisignedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitMultisignedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transaction_entry": {
      "post": {
        "summary": "Retrieve info about a transaction from a particular ledger version",
        "description": "Retrieve info about a transaction from a particular ledger version\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/transaction_entry.md",
        "operationId": "transaction_entry",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionEntryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tx": {
      "post": {
        "summary": "Retrieve info about a transaction from all the ledgers on hand",
        "description": "Retrieve info about a transaction from all the ledgers on hand\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/tx.md",
        "operationId": "tx",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/simulate": {
      "post": {
        "summary": "Simulate a transaction",
        "description": "Simulate a transaction\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/transaction-methods/simulate.md",
        "operationId": "simulate",
        "tags": [
          "Transaction Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/amm_info": {
      "post": {
        "summary": "Get info about an Automated Market Maker (AMM)",
        "description": "Get info about an Automated Market Maker (AMM)\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/amm_info.md",
        "operationId": "amm_info",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AMMInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AMMInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book_offers": {
      "post": {
        "summary": "Get info about offers to exchange two currencies",
        "description": "Get info about offers to exchange two currencies\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/book_offers.md",
        "operationId": "book_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/deposit_authorized": {
      "post": {
        "summary": "Look up whether one account is authorized to send payments directly to another",
        "description": "Look up whether one account is authorized to send payments directly to another\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/deposit_authorized.md",
        "operationId": "deposit_authorized",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositAuthorizedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAuthorizedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_buy_offers": {
      "post": {
        "summary": "Retrieve a list of buy offers for a specified NFToken object",
        "description": "Retrieve a list of buy offers for a specified NFToken object\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_buy_offers.md",
        "operationId": "nft_buy_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTBuyOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTBuyOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_sell_offers": {
      "post": {
        "summary": "Retrieve a list of sell offers for a specified NFToken object",
        "description": "Retrieve a list of sell offers for a specified NFToken object\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/nft_sell_offers.md",
        "operationId": "nft_sell_offers",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTSellOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTSellOffersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/path_find": {
      "post": {
        "summary": "Find a path for a payment between two accounts and receive updates",
        "description": "Find a path for a payment between two accounts and receive updates\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/path_find.md",
        "operationId": "path_find",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PathFindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PathFindResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ripple_path_find": {
      "post": {
        "summary": "Find a path for payment between two accounts, once",
        "description": "Find a path for payment between two accounts, once\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/path-and-order-book-methods/ripple_path_find.md",
        "operationId": "ripple_path_find",
        "tags": [
          "Path and Order Book Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RipplePathFindRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RipplePathFindResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channel_verify": {
      "post": {
        "summary": "Check a payment channel claim's signature",
        "description": "Check a payment channel claim's signature\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/payment-channel-methods/channel_verify.md",
        "operationId": "channel_verify",
        "tags": [
          "Payment Channel Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelVerifyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fee": {
      "post": {
        "summary": "Get information about transaction cost",
        "description": "Get information about transaction cost\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/fee.md",
        "operationId": "fee",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feature": {
      "post": {
        "summary": "Returns information about amendments this server knows about",
        "description": "Returns information about amendments this server knows about\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/feature.md",
        "operationId": "feature",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_info": {
      "post": {
        "summary": "Retrieve status of the server in human-readable format",
        "description": "Retrieve status of the server in human-readable format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_info.md",
        "operationId": "server_info",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_state": {
      "post": {
        "summary": "Retrieve status of the server in machine-readable format",
        "description": "Retrieve status of the server in machine-readable format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_state.md",
        "operationId": "server_state",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerStateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerStateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_definitions": {
      "post": {
        "summary": "Retrieve a list of types and fields used for the XRPL's canonical binary format",
        "description": "Retrieve a list of types and fields used for the XRPL's canonical binary format\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/server_definitions.md",
        "operationId": "server_definitions",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerDefinitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerDefinitionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manifest": {
      "post": {
        "summary": "Retrieve the latest ephemeral public key information about a known validator",
        "description": "Retrieve the latest ephemeral public key information about a known validator\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/server-info-methods/manifest.md",
        "operationId": "manifest",
        "tags": [
          "Server Info Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_info": {
      "post": {
        "summary": "Retrieve information about the specified NFT using Clio server",
        "description": "Retrieve information about the specified NFT using Clio server\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_info.md",
        "operationId": "nft_info",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nft_history": {
      "post": {
        "summary": "Retrieve the history of ownership and transfers for the specified NFT",
        "description": "Retrieve the history of ownership and transfers for the specified NFT\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nft_history.md",
        "operationId": "nft_history",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nfts_by_issuer": {
      "post": {
        "summary": "Returns a list of NFTokens that are issued by the specified account",
        "description": "Returns a list of NFTokens that are issued by the specified account\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/clio-methods/nfts_by_issuer.md",
        "operationId": "nfts_by_issuer",
        "tags": [
          "Clio Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NFTsByIssuerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NFTsByIssuerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "post": {
        "summary": "Confirm connectivity with the server",
        "description": "Confirm connectivity with the server\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/utility-methods/ping.md",
        "operationId": "ping",
        "tags": [
          "Utility Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/random": {
      "post": {
        "summary": "Generate a random number",
        "description": "Generate a random number\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/utility-methods/random.md",
        "operationId": "random",
        "tags": [
          "Utility Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RandomRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RandomResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault_info": {
      "post": {
        "summary": "Get information about a specific vault",
        "description": "Get information about a specific vault\n\nDocumentation: https://xrpl.org/docs/references/http-websocket-apis/public-api-methods/vault-methods/vault_info.md",
        "operationId": "vault_info",
        "tags": [
          "Vault Methods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultInfoResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LedgerIndex": {
        "anyOf": [
          {
            "type": "number"
          },
          {
            "enum": [
              "validated"
            ]
          },
          {
            "enum": [
              "closed"
            ]
          },
          {
            "enum": [
              "current"
            ]
          }
        ]
      },
      "AccountChannelsRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_channels"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. The request returns channels where this account is the channel's owner/source."
          },
          "destination_account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. If provided, filter results to payment channels whose destination is this account."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of transactions to retrieve. Cannot be less than 10 or more than 400. The default is 200."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where that response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_channels method returns information about an account's Payment Channels. This includes only channels where the specified account is the channel's source, not the destination. (A channel's \"source\" and \"owner\" are the same.) All information retrieved is relative to a particular version of the ledger. Returns an  {@link  AccountChannelsResponse } ."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "The owner of the channel, as an Address."
          },
          "amount": {
            "type": "string",
            "description": "The total amount of XRP, in drops allocated to this channel."
          },
          "balance": {
            "type": "string",
            "description": "The total amount of XRP, in drops, paid out from this channel, as of the ledger version used. (You can calculate the amount of XRP left in the channel by subtracting balance from amount.)"
          },
          "channel_id": {
            "type": "string",
            "description": "A unique ID for this channel, as a 64-character hexadecimal string. This is also the ID of the channel object in the ledger's state data."
          },
          "destination_account": {
            "type": "string",
            "description": "The destination account of the channel, as an Address. Only this account can receive the XRP in the channel while it is open."
          },
          "settle_delay": {
            "type": "number",
            "description": "The number of seconds the payment channel must stay open after the owner of the channel requests to close it."
          },
          "public_key": {
            "type": "string",
            "description": "The public key for the payment channel in the XRP Ledger's base58 format. Signed claims against this channel must be redeemed with the matching key pair."
          },
          "public_key_hex": {
            "type": "string",
            "description": "The public key for the payment channel in hexadecimal format, if one was specified at channel creation. Signed claims against this channel must be redeemed with the matching key pair."
          },
          "expiration": {
            "type": "number",
            "description": "Time, in seconds since the Ripple Epoch, when this channel is set to expire. This expiration date is mutable. If this is before the close time of the most recent validated ledger, the channel is expired."
          },
          "cancel_after": {
            "type": "number",
            "description": "Time, in seconds since the Ripple Epoch, of this channel's immutable expiration, if one was specified at channel creation. If this is before the close time of the most recent validated ledger, the channel is expired."
          },
          "source_tag": {
            "type": "number",
            "description": "A 32-bit unsigned integer to use as a source tag for payments through this payment channel, if one was specified at channel creation. This indicates the payment channel's originator or other purpose at the source account. Conventionally, if you bounce payments from this channel, you should specify this value in the DestinationTag of the return payment."
          },
          "destination_tag": {
            "type": "number",
            "description": "A 32-bit unsigned integer to use as a destination tag for payments through this channel, if one was specified at channel creation. This indicates the payment channel's beneficiary or other purpose at the destination account."
          }
        },
        "required": [
          "account",
          "amount",
          "balance",
          "channel_id",
          "destination_account",
          "settle_delay"
        ],
        "additionalProperties": false,
        "description": "Represents a payment channel in the XRP Ledger."
      },
      "ResponseWarning": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "message"
        ],
        "additionalProperties": false
      },
      "AccountChannelsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "account": {
                "type": "string",
                "description": "The address of the source/owner of the payment channels. This corresponds to the account field of the request."
              },
              "channels": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Channel"
                },
                "description": "Payment channels owned by this account."
              },
              "ledger_hash": {
                "type": "string",
                "description": "The identifying hash of the ledger version used to generate this response."
              },
              "ledger_index": {
                "type": "number",
                "description": "The ledger index of the ledger version used to generate this response."
              },
              "validated": {
                "type": "boolean",
                "description": "If true, the information in this response comes from a validated ledger version. Otherwise, the information is subject to change."
              },
              "limit": {
                "type": "number",
                "description": "The limit to how many channel objects were actually returned by this request."
              },
              "marker": {
                "description": "Server-defined value for pagination. Pass this to the next call to resume getting results where this call left off. Omitted when there are no additional pages after this one."
              }
            },
            "required": [
              "account",
              "channels",
              "ledger_hash",
              "ledger_index"
            ],
            "additionalProperties": false
          },
          "warning": {
            "enum": [
              "load"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseWarning"
            }
          },
          "forwarded": {
            "type": "boolean"
          },
          "api_version": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "The expected response from an  {@link  AccountChannelsRequest } ."
      },
      "AccountCurrenciesRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_currencies"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "strict": {
            "type": "boolean",
            "description": "If true, then the account field only accepts a public key or XRP Ledger address. Otherwise, account can be a secret or passphrase (not recommended). The default is false."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_currencies` command retrieves a list of currencies that an account can send or receive, based on its trust lines. Expects an  {@link  AccountCurrenciesResponse } ."
      },
      "AccountCurrenciesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "ledger_hash": {
                "type": "string",
                "description": "The identifying hash of the ledger version used to retrieve this data, as hex."
              },
              "ledger_index": {
                "type": "number",
                "description": "The ledger index of the ledger version used to retrieve this data."
              },
              "receive_currencies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of Currency Codes for currencies that this account can receive."
              },
              "send_currencies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of Currency Codes for currencies that this account can send."
              },
              "validated": {
                "type": "boolean",
                "description": "If true, this data comes from a validated ledger."
              }
            },
            "required": [
              "ledger_index",
              "receive_currencies",
              "send_currencies",
              "validated"
            ],
            "additionalProperties": false
          },
          "warning": {
            "enum": [
              "load"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseWarning"
            }
          },
          "forwarded": {
            "type": "boolean"
          },
          "api_version": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "The expected response from an  {@link  AccountCurrenciesRequest } ."
      },
      "AccountInfoRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_info"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "queue": {
            "type": "boolean",
            "description": "Whether to get info about this account's queued transactions. Can only be used when querying for the data from the current open ledger. Not available from servers in Reporting Mode."
          },
          "signer_lists": {
            "type": "boolean",
            "description": "Request SignerList objects associated with this account."
          },
          "strict": {
            "type": "boolean",
            "description": "If true, then the account field only accepts a public key or XRP Ledger address. Otherwise, account can be a secret or passphrase (not recommended). The default is false."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_info` command retrieves information about an account, its activity, and its XRP balance. All information retrieved is relative to a particular version of the ledger. Returns an  {@link  AccountInfoResponse } ."
      },
      "SignerList": {
        "type": "object",
        "properties": {
          "PreviousTxnID": {
            "type": "string",
            "description": "The identifying hash of the transaction that most recently modified this object."
          },
          "PreviousTxnLgrSeq": {
            "type": "number",
            "description": "The index of the ledger that contains the transaction that most recently modified this object."
          },
          "index": {
            "type": "string"
          },
          "LedgerEntryType": {
            "enum": [
              "SignerList"
            ]
          },
          "Flags": {
            "type": "number",
            "description": "A bit-map of Boolean flags enabled for this signer list. For more information, see SignerList Flags."
          },
          "OwnerNode": {
            "type": "string",
            "description": "A hint indicating which page of the owner directory links to this object, in case the directory consists of multiple pages."
          },
          "SignerEntries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerEntry"
            },
            "description": "An array of Signer Entry objects representing the parties who are part of this signer list."
          },
          "SignerListID": {
            "type": "number",
            "description": "An ID for this signer list. Currently always set to 0. If a future amendment allows multiple signer lists for an account, this may change."
          },
          "SignerQuorum": {
            "type": "number",
            "description": "A target number for signer weights. To produce a valid signature for the owner of this SignerList, the signers must provide valid signatures whose weights sum to this value or more."
          }
        },
        "required": [
          "Flags",
          "LedgerEntryType",
          "OwnerNode",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "SignerEntries",
          "SignerListID",
          "SignerQuorum",
          "index"
        ],
        "additionalProperties": false,
        "description": "The SignerList object type represents a list of parties that, as a group, are authorized to sign a transaction in place of an individual account. You can create, replace, or remove a signer list using a SignerListSet transaction."
      },
      "SignerEntry": {
        "type": "object",
        "properties": {
          "SignerEntry": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "string",
                "description": "An XRP Ledger address whose signature contributes to the multi-signature. It does not need to be a funded address in the ledger."
              },
              "SignerWeight": {
                "type": "number",
                "description": "The weight of a signature from this signer. A multi-signature is only valid if the sum weight of the signatures provided meets or exceeds the signer list's SignerQuorum value."
              },
              "WalletLocator": {
                "type": "string",
                "description": "An arbitrary 256-bit (32-byte) field that can be used to identify the signer, which may be useful for smart contracts, or for identifying who controls a key in a large organization."
              }
            },
            "required": [
              "Account",
              "SignerWeight"
            ],
            "additionalProperties": false,
            "description": "The object that describes the signer in SignerEntries."
          }
        },
        "required": [
          "SignerEntry"
        ],
        "additionalProperties": false,
        "description": "The object that describes the signer in SignerEntries."
      },
      "AccountRoot": {
        "type": "object",
        "properties": {
          "PreviousTxnID": {
            "type": "string",
            "description": "The identifying hash of the transaction that most recently modified this object."
          },
          "PreviousTxnLgrSeq": {
            "type": "number",
            "description": "The index of the ledger that contains the transaction that most recently modified this object."
          },
          "index": {
            "type": "string"
          },
          "LedgerEntryType": {
            "enum": [
              "AccountRoot"
            ]
          },
          "Account": {
            "type": "string",
            "description": "The identifying (classic) address of this account."
          },
          "Balance": {
            "type": "string",
            "description": "The account's current XRP balance in drops, represented as a string."
          },
          "Flags": {
            "type": "number",
            "description": "A bit-map of boolean flags enabled for this account."
          },
          "OwnerCount": {
            "type": "number",
            "description": "The number of objects this account owns in the ledger, which contributes to its owner reserve."
          },
          "Sequence": {
            "type": "number",
            "description": "The sequence number of the next valid transaction for this account."
          },
          "AccountTxnID": {
            "type": "string",
            "description": "The identifying hash of the transaction most recently sent by this account. This field must be enabled to use the AccountTxnID transaction field. To enable it, send an AccountSet transaction with the. `asfAccountTxnID` flag enabled."
          },
          "AMMID": {
            "type": "string",
            "description": "The ledger entry ID of the corresponding AMM ledger entry. Set during account creation; cannot be modified. If present, indicates that this is a special AMM AccountRoot; always omitted on non-AMM accounts."
          },
          "Domain": {
            "type": "string",
            "description": "A domain associated with this account. In JSON, this is the hexadecimal for the ASCII representation of the domain."
          },
          "EmailHash": {
            "type": "string",
            "description": "The md5 hash of an email address."
          },
          "MessageKey": {
            "type": "string",
            "description": "A public key that may be used to send encrypted messages to this account in JSON, uses hexadecimal."
          },
          "RegularKey": {
            "type": "string",
            "description": "The address of a key pair that can be used to sign transactions for this account instead of the master key. Use a SetRegularKey transaction to change this value."
          },
          "TicketCount": {
            "type": "number",
            "description": "How many Tickets this account owns in the ledger. This is updated automatically to ensure that the account stays within the hard limit of 250. Tickets at a time."
          },
          "TickSize": {
            "type": "number",
            "description": "How many significant digits to use for exchange rates of Offers involving currencies issued by this address. Valid values are 3 to 15, inclusive."
          },
          "TransferRate": {
            "type": "number",
            "description": "A transfer fee to charge other users for sending currency issued by this account to each other."
          },
          "WalletLocator": {
            "type": "string",
            "description": "An arbitrary 256-bit value that users can set."
          },
          "BurnedNFTokens": {
            "type": "number",
            "description": "Total NFTokens this account's issued that have been burned. This number is always equal or less than MintedNFTokens."
          },
          "FirstNFTokenSequence": {
            "type": "number",
            "description": "The sequence that the account first minted an NFToken"
          },
          "MintedNFTokens": {
            "type": "number",
            "description": "Total NFTokens have been minted by and on behalf of this account."
          },
          "NFTokenMinter": {
            "type": "string",
            "description": "Another account that can mint NFTokens on behalf of this account."
          }
        },
        "required": [
          "Account",
          "Balance",
          "Flags",
          "LedgerEntryType",
          "OwnerCount",
          "PreviousTxnID",
          "PreviousTxnLgrSeq",
          "Sequence",
          "index"
        ],
        "additionalProperties": false,
        "description": "The AccountRoot object type describes a single account, its settings, and XRP balance."
      },
      "AccountInfoAccountFlags": {
        "type": "object",
        "properties": {
          "defaultRipple": {
            "type": "boolean",
            "description": "Enable rippling on this address's trust lines by default. Required for issuing addresses; discouraged for others."
          },
          "depositAuth": {
            "type": "boolean",
            "description": "This account can only receive funds from transactions it sends, and from preauthorized accounts. (It has DepositAuth enabled.)"
          },
          "disableMasterKey": {
            "type": "boolean",
            "description": "Disallows use of the master key to sign transactions for this account."
          },
          "disallowIncomingCheck": {
            "type": "boolean",
            "description": "Disallow incoming Checks from other accounts."
          },
          "disallowIncomingNFTokenOffer": {
            "type": "boolean",
            "description": "Disallow incoming NFTOffers from other accounts. Part of the DisallowIncoming amendment."
          },
          "disallowIncomingPayChan": {
            "type": "boolean",
            "description": "Disallow incoming PayChannels from other accounts. Part of the DisallowIncoming amendment."
          },
          "disallowIncomingTrustline": {
            "type": "boolean",
            "description": "Disallow incoming Trustlines from other accounts. Part of the DisallowIncoming amendment."
          },
          "disallowIncomingXRP": {
            "type": "boolean",
            "description": "Client applications should not send XRP to this account. Not enforced by rippled."
          },
          "globalFreeze": {
            "type": "boolean",
            "description": "All assets issued by this address are frozen."
          },
          "noFreeze": {
            "type": "boolean",
            "description": "This address cannot freeze trust lines connected to it. Once enabled, cannot be disabled."
          },
          "passwordSpent": {
            "type": "boolean",
            "description": "The account has used its free SetRegularKey transaction."
          },
          "requireAuthorization": {
            "type": "boolean",
            "description": "This account must individually approve other users for those users to hold this account's issued currencies."
          },
          "requireDestinationTag": {
            "type": "boolean",
            "description": "Requires incoming payments to specify a Destination Tag."
          },
          "allowTrustLineClawback": {
            "type": "boolean",
            "description": "This address can claw back issued IOUs. Once enabled, cannot be disabled."
          }
        },
        "required": [
          "defaultRipple",
          "depositAuth",
          "disableMasterKey",
          "disallowIncomingXRP",
          "globalFreeze",
          "noFreeze",
          "passwordSpent",
          "requireAuthorization",
          "requireDestinationTag",
          "allowTrustLineClawback"
        ],
        "additionalProperties": false
      },
      "AccountQueueData": {
        "type": "object",
        "properties": {
          "txn_count": {
            "type": "number",
            "description": "Number of queued transactions from this address."
          },
          "auth_change_queued": {
            "type": "boolean",
            "description": "Whether a transaction in the queue changes this address's ways of authorizing transactions. If true, this address can queue no further transactions until that transaction has been executed or dropped from the queue."
          },
          "lowest_sequence": {
            "type": "number",
            "description": "The lowest Sequence Number among transactions queued by this address."
          },
          "highest_sequence": {
            "type": "number",
            "description": "The highest Sequence Number among transactions queued by this address."
          },
          "max_spend_drops_total": {
            "type": "string",
            "description": "Integer amount of drops of XRP that could be debited from this address if every transaction in the queue consumes the maximum amount of XRP possible."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountQueueTransaction"
            },
            "description": "Information about each queued transaction from this address."
          }
        },
        "required": [
          "txn_count"
        ],
        "additionalProperties": false
      },
      "AccountQueueTransaction": {
        "type": "object",
        "properties": {
          "auth_change": {
            "type": "boolean",
            "description": "Whether this transaction changes this address's ways of authorizing transactions."
          },
          "fee": {
            "type": "string",
            "description": "The Transaction Cost of this transaction, in drops of XRP."
          },
          "fee_level": {
            "type": "string",
            "description": "The transaction cost of this transaction, relative to the minimum cost for this type of transaction, in fee levels."
          },
          "max_spend_drops": {
            "type": "string",
            "description": "The maximum amount of XRP, in drops, this transaction could send or destroy."
          },
          "seq": {
            "type": "number",
            "description": "The Sequence Number of this transaction."
          }
        },
        "required": [
          "auth_change",
          "fee",
          "fee_level",
          "max_spend_drops",
          "seq"
        ],
        "additionalProperties": false
      },
      "AccountInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "signer_lists": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SignerList"
                },
                "description": "If requested, array of SignerList ledger objects associated with this account for Multi-Signing. Since an account can own at most one SignerList, this array must have exactly one member if it is present."
              },
              "account_data": {
                "$ref": "#/components/schemas/AccountRoot",
                "description": "The AccountRoot ledger object with this account's information, as stored in the ledger."
              },
              "account_flags": {
                "$ref": "#/components/schemas/AccountInfoAccountFlags",
                "description": "A map of account flags parsed out.  This will only be available for rippled nodes 1.11.0 and higher."
              },
              "ledger_current_index": {
                "type": "number",
                "description": "The ledger index of the current in-progress ledger, which was used when retrieving this information."
              },
              "ledger_index": {
                "type": "number",
                "description": "The ledger index of the ledger version used when retrieving this information. The information does not contain any changes from ledger versions newer than this one."
              },
              "queue_data": {
                "$ref": "#/components/schemas/AccountQueueData",
                "description": "Information about queued transactions sent by this account. This information describes the state of the local rippled server, which may be different from other servers in the peer-to-peer XRP Ledger network. Some fields may be omitted because the values are calculated \"lazily\" by the queuing mechanism."
              },
              "validated": {
                "type": "boolean",
                "description": "True if this data is from a validated ledger version; if omitted or set to false, this data is not final."
              }
            },
            "required": [
              "account_data"
            ]
          },
          "warning": {
            "enum": [
              "load"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseWarning"
            }
          },
          "forwarded": {
            "type": "boolean"
          },
          "api_version": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from a  {@link  AccountInfoRequest } ."
      },
      "AccountLinesRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_lines"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's Address."
          },
          "peer": {
            "type": "string",
            "description": "The Address of a second account. If provided, show only lines of trust connecting the two accounts."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of trust lines to retrieve. The server is not required to honor this value. Must be within the inclusive range 10 to 400."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where that response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_lines method returns information about an account's trust lines,  including balances in all non-XRP currencies and assets. All information retrieved is relative to a particular version of the ledger. Expects an  {@link  AccountLinesResponse } ."
      },
      "AccountLinesTrustline": {
        "type": "object",
        "properties": {
          "account": {
            "type": "string",
            "description": "The unique Address of the counterparty to this trust line."
          },
          "balance": {
            "type": "string",
            "description": "Representation of the numeric balance currently held against this line. A positive balance means that the perspective account holds value; a negative Balance means that the perspective account owes value."
          },
          "currency": {
            "type": "string",
            "description": "A Currency Code identifying what currency this trust line can hold."
          },
          "limit": {
            "type": "string",
            "description": "The maximum amount of the given currency that this account is willing to owe the peer account."
          },
          "limit_peer": {
            "type": "string",
            "description": "The maximum amount of currency that the issuer account is willing to owe the perspective account."
          },
          "quality_in": {
            "type": "number",
            "description": "Rate at which the account values incoming balances on this trust line, as a ratio of this value per 1 billion units. (For example, a value of 500 million represents a 0.5:1 ratio.) As a special case, 0 is treated as a 1:1 ratio."
          },
          "quality_out": {
            "type": "number",
            "description": "Rate at which the account values outgoing balances on this trust line, as a ratio of this value per 1 billion units. (For example, a value of 500 million represents a 0.5:1 ratio.) As a special case, 0 is treated as a 1:1 ratio."
          },
          "no_ripple": {
            "type": "boolean",
            "description": "If true, this account has enabled the No Ripple flag for this trust line. If present and false, this account has disabled the No Ripple flag, but, because the account also has the Default Ripple flag enabled, that is not considered the default state. If omitted, the account has the No Ripple flag disabled for this trust line and Default Ripple disabled."
          },
          "no_ripple_peer": {
            "type": "boolean",
            "description": "If true, the peer account has enabled the No Ripple flag for this trust line. If present and false, this account has disabled the No Ripple flag, but, because the account also has the Default Ripple flag enabled, that is not considered the default state. If omitted, the account has the No Ripple flag disabled for this trust line and Default Ripple disabled."
          },
          "authorized": {
            "type": "boolean",
            "description": "If true, this account has authorized this trust line. The default is false."
          },
          "peer_authorized": {
            "type": "boolean",
            "description": "If true, the peer account has authorized this trust line. The default is false."
          },
          "freeze": {
            "type": "boolean",
            "description": "If true, this account has frozen this trust line. The default is false."
          },
          "freeze_peer": {
            "type": "boolean",
            "description": "If true, the peer account has frozen this trust line. The default is false."
          }
        },
        "required": [
          "account",
          "balance",
          "currency",
          "limit",
          "limit_peer",
          "quality_in",
          "quality_out"
        ],
        "additionalProperties": false
      },
      "AccountLinesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "account": {
                "type": "string",
                "description": "Unique Address of the account this request corresponds to. This is the \"perspective account\" for purpose of the trust lines."
              },
              "lines": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountLinesTrustline"
                },
                "description": "Array of trust line objects. If the number of trust lines is large, only returns up to the limit at a time."
              },
              "ledger_current_index": {
                "type": "number",
                "description": "The ledger index of the current open ledger, which was used when retrieving this information."
              },
              "ledger_index": {
                "type": "number",
                "description": "The ledger index of the ledger version that was used when retrieving this data."
              },
              "ledger_hash": {
                "type": "string",
                "description": "The identifying hash the ledger version that was used when retrieving this data."
              },
              "marker": {
                "description": "Server-defined value indicating the response is paginated. Pass this to the next call to resume where this call left off. Omitted when there are No additional pages after this one."
              }
            },
            "required": [
              "account",
              "lines"
            ],
            "additionalProperties": false
          },
          "warning": {
            "enum": [
              "load"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseWarning"
            }
          },
          "forwarded": {
            "type": "boolean"
          },
          "api_version": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountLinesRequest } ."
      },
      "AccountNFTsRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_nfts"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "The unique identifier of an account, typically the account's address. The request returns NFTs owned by this account."
          },
          "limit": {
            "type": "number",
            "description": "Limit the number of NFTokens to retrieve."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where that response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The `account_nfts` method retrieves all of the NFTs currently owned by the specified account."
      },
      "AccountNFToken": {
        "type": "object",
        "properties": {
          "Flags": {
            "type": "number"
          },
          "Issuer": {
            "type": "string"
          },
          "NFTokenID": {
            "type": "string"
          },
          "NFTokenTaxon": {
            "type": "number"
          },
          "URI": {
            "type": "string"
          },
          "nft_serial": {
            "type": "number"
          }
        },
        "required": [
          "Flags",
          "Issuer",
          "NFTokenID",
          "NFTokenTaxon",
          "nft_serial"
        ],
        "additionalProperties": false,
        "description": "One NFToken that might be returned from an  {@link  AccountNFTsRequest } ."
      },
      "AccountNFTsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "account": {
                "type": "string",
                "description": "The account requested."
              },
              "account_nfts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountNFToken"
                },
                "description": "A list of NFTs owned by the specified account."
              },
              "ledger_current_index": {
                "type": "number",
                "description": "The ledger index of the current open ledger, which was used when retrieving this information."
              },
              "validated": {
                "type": "boolean",
                "description": "If true, this data comes from a validated ledger."
              },
              "marker": {
                "description": "Server-defined value indicating the response is paginated. Pass this to the next call to resume where this call left off. Omitted when there are No additional pages after this one."
              },
              "limit": {
                "type": "number",
                "description": "The limit that was used to fulfill this request."
              }
            },
            "required": [
              "account",
              "account_nfts",
              "ledger_current_index",
              "validated"
            ],
            "additionalProperties": false
          },
          "warning": {
            "enum": [
              "load"
            ]
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseWarning"
            }
          },
          "forwarded": {
            "type": "boolean"
          },
          "api_version": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "result",
          "type"
        ],
        "additionalProperties": false,
        "description": "Response expected from an  {@link  AccountNFTsRequest } ."
      },
      "AccountObjectType": {
        "type": "string",
        "enum": [
          "account",
          "amm",
          "bridge",
          "check",
          "credential",
          "delegate",
          "deposit_preauth",
          "did",
          "directory",
          "escrow",
          "loan",
          "loan_broker",
          "mpt_issuance",
          "mptoken",
          "nft_offer",
          "nft_page",
          "offer",
          "oracle",
          "payment_channel",
          "permissioned_domain",
          "signer_list",
          "state",
          "ticket",
          "vault",
          "xchain_owned_create_account_claim_id",
          "xchain_owned_claim_id"
        ]
      },
      "AccountObjectsRequest": {
        "type": "object",
        "properties": {
          "ledger_hash": {
            "type": "string",
            "description": "A 20-byte hex string for the ledger version to use."
          },
          "ledger_index": {
            "$ref": "#/components/schemas/LedgerIndex",
            "description": "The ledger index of the ledger to use, or a shortcut string."
          },
          "id": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ],
            "description": "A unique value to identify this request. The response to this request uses the same id field. This way, even if responses arrive out of order, you know which request prompted which response."
          },
          "command": {
            "enum": [
              "account_objects"
            ],
            "description": "The name of the API method."
          },
          "api_version": {
            "type": "number",
            "description": "The API version to use. If omitted, use version 1."
          },
          "account": {
            "type": "string",
            "description": "A unique identifier for the account, most commonly the account's address."
          },
          "type": {
            "$ref": "#/components/schemas/AccountObjectType",
            "description": "If included, filter results to include only this type of ledger object."
          },
          "deletion_blockers_only": {
            "type": "boolean",
            "description": "If true, the response only includes objects that would block this account from being deleted. The default is false."
          },
          "limit": {
            "type": "number",
            "description": "The maximum number of objects to include in the results. Must be within the inclusive range 10 to 400 on non-admin connections. The default is 200."
          },
          "marker": {
            "description": "Value from a previous paginated response. Resume retrieving data where that response left off."
          }
        },
        "required": [
          "account",
          "command"
        ],
        "additionalProperties": false,
        "description": "The account_objects command returns the raw ledger format for all objects owned by an account. For a higher-level view of an account's trust lines and balances, see the account_lines method instead. Expects a response in the form of an  {@link  AccountObjectsResponse } ."
      },
      "AccountObject": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AccountRoot"
          },
          {
            "$ref": "#/components/schemas/AMM"
          },
          {
            "$ref": "#/components/schemas/Bridge"
          },
          {
            "$ref": "#/components/schemas/Check"
          },
          {
            "$ref": "#/components/schemas/Credential"
          },
          {
            "$ref": "#/components/schemas/Delegate"
          },
          {
            "$ref": "#/components/schemas/DepositPreauth"
          },
          {
            "$ref": "#/components/schemas/DirectoryNode"
          },
          {
            "$ref": "#/components/schemas/Escrow"
          },
          {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "BaseFee": {
                    "type": "string",
                    "description": "The transaction cost of the \"reference transaction\" in drops of XRP as hexadecimal."
                  },
                  "ReferenceFeeUnits": {
                    "type": "number",
                    "description": "The BaseFee translated into \"fee units\"."
                  },
                  "ReserveBase": {
                    "type": "number",
                    "description": "The base reserve for an account in the XRP Ledger, as drops of XRP."
                  },
                  "ReserveIncrement": {
                    "type": "number",
                    "description": "The incremental owner reserve for owning objects, as drops of XRP."
                  },
                  "PreviousTxnID": {
                    "type": "string",
                    "description": "The identifying hash of the transaction that most recently modified this object. This field was added in the `fixPreviousTxnID` amendment, so it may not be present in every object."
                  },
                  "PreviousTxnLgrSeq": {
                    "type": "number",
                    "description": "The index of the ledger that contains the transaction that most recently modified this object. This field was added in the `fixPreviousTxnID` amendment, so it may not be present in every object."
                  },
                  "index": {
                    "type": "string"
                  },
                  "LedgerEntryType": {
                    "enum": [
                      "FeeSettings"
                    ]
                  },
                  "Flags": {
                    "enum": [
                      0
                    ],
                    "description": "A bit-map of boolean flags for this object. No flags are defined for this type."
                  }
                },
                "required": [
                  "BaseFee",
                  "Flags",
                  "LedgerEntryType",
                  "ReferenceFeeUnits",
                  "ReserveBase",
                  "ReserveIncrement",
                  "index"
                ]
              },
              {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "BaseFeeDrops": {
                    "type": "string",
                    "description": "The transaction cost of the \"reference transaction\" in drops of XRP as hexadecimal."
                  },
                  "ReserveBaseDrops": {
                    "type": "string",
                    "description": "The base reserve for an account in the XRP Ledger, as drops of XRP."
                  },
                  "ReserveIncrementDrops": {
                    "type": "string",
                    "description": "The incremental owner reserve for owning objects, as drops of XRP."
                  },
                  "PreviousTxnID": {
                    "type": "string",
                    "description": "The identifying hash of the transaction that most recently modified this object. This field was added in the `fixPreviousTxnID` amendment, so it may not be present in every object."
                  },
                  "PreviousTxnLgrSeq": {
                    "type": "number",
                    "description": "The index of the ledger that contains the transaction that most recently modified this object. This field was added in the `fixPreviousTxnID` amendment, so it may not be present in every object."
                  },
                  "index": {
                    "type": "string"
                  },
                  "LedgerEntryType": {
                    "enum": [
                      "FeeSettings"
                    ]
                  },
                  "Flags": {
                    "enum": [
                      0
                    ],
                    "description": "A bit-map of boolean flags for this object. No flags are defined for this type."
                  }
                },
                "required": [
                  "BaseFeeDrops",
                  "Flags",
                  "LedgerEntryType",
                  "ReserveBaseDrops",
                  "ReserveIncrementDrops",
                  "index"
                ]
              }
            ],
            "description": "The FeeSettings object type contains the current base transaction cost and reserve amounts as determined by fee voting.\n\nThe fields will be based on the status of the `XRPFees` amendment.\n- Before:  {@link  FeeSettingsPreAmendmentFields } \n- After:  {@link  FeeSettingsPostAmendmentFields }"
          },
          {
            "$ref": "#/components/schemas/Loan"
          },
          {
            "$ref": "#/components/schemas/LoanBroker"
          },
          {
            "$ref": "#/components/schemas/NegativeUNL"
          },
          {
            "$ref": "#/components/schemas/Offer"
          },
          {
            "$ref": "#/components/schemas/Oracle"
          },
          {
            "$ref": "#/components/schemas/PayChannel"
          },
          {
            "$ref": "#/components/schemas/PermissionedDomain"
          },
          {
            "$ref": "#/components/schemas/RippleState"
          },
          {
            "$ref": "#/components/schemas/SignerList"
          },
          {
            "$ref": "#/components/schemas/Ticket"
          },
          {
            "$ref": "#/components/schemas/Vault"
          },
          {
            "$ref": "#/components/schemas/XChainOwnedClaimID"
          },
          {
            "$ref": "#/components/schemas/XChainOwnedCreateAccountClaimID"
          }
        ],
        "description": "Account Objects can be a Check, a DepositPreauth, an Escrow, an Offer, a PayChannel, a SignerList, a Ticket, or a RippleState."
      },
      "AMM": {
        "type": "object",
        "properties": {
          "PreviousTxnID": {
            "type": "string",
            "description": "The identifying hash of the transaction that most recently modified this object. This field was added in the `fixPreviousTxnID` amendment, so it may not be present in every object."
          },
          "PreviousTxnLgrSeq": {
            "type": "number",
[...]
